{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    Contact:
    www.blablacar.de
    Contact us! Click here.
    support + de (at) blablacar.com

    Liability for content
    The contents of our pages were created with great care. For the accuracy, completeness and timeliness of the contents, however, we can not guarantee. As a service provider we are responsible according to § 7 Abs.1 TMG for own contents on these sides according to the general laws. According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored external information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under general law remain unaffected. However, liability in this regard is only possible from the moment of knowledge of a specific infringement.

    Liability for links
    Our offer contains links to external websites of third parties on whose contents we have no influence. Therefore we can not assume any liability for these external contents. The content of the linked pages is always the responsibility of the respective provider or operator of the pages. The linked pages were checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking. However, a permanent content control of the linked pages is not reasonable without concrete evidence of a violation of law. Upon notification of violations, we will remove such links immediately.

    copyright
    The content and works on these pages created by the site operators are subject to German copyright law. The duplication, processing, distribution and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are for private, non-commercial use only. As far as the contents on this side were not created by the operator, the copyrights of third parties are considered. In particular contents of third parties are marked as such. Should you still be aware of a copyright infringement, we ask for a note. Upon notification of violations, we will remove such content immediately.

    data protection
    The use of our website is usually possible without providing personal data. As far as on our sides personal data (for example name, address or eMail addresses) are raised, this takes place, as far as possible, always on freiwilliger basis. These data will not be disclosed to third parties without your explicit consent.

    We point out that the data transmission in the Internet (eg in the communication by E-Mail) can exhibit security gaps. A complete protection of the data from access by third parties is not possible.

    The use of contact information published by third parties for the purpose of sending unsolicited advertising and information materials is hereby expressly excluded. The operators of the pages expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information, such as spam e-mails.
</div>
{% endblock %}
