 <h1>Registrieren</h1>
     <h3>Hallo  {{ name }} ! Du hast es geschafft!</h3>

     <p>Du bist erfolgreich registriert.</p>

     {# example, assuming you have a route named "login" #}
    <p>Klicken Sie auf den Link,: <a href="{{ url('app_activating',{emailCode:emailCode}) }}">um Ihr Konto zu aktivieren</a>.</p>

     Danke!
    {# Makes an absolute URL to the /images/logo.png file
     <img src="{{ absolute_url(asset('images/logo.png')) }}">
     #}

