<form method="post" id="search_ride"   action="{{ path('search_ride') }}">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-street-view"></i></div>
            </div>
            <input type="text" class="form-control" name="user_ride[pickUp]" id="start_location" placeholder="Von..." required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
            </div>
            <input type="text" class="form-control" name="user_ride[dropOff]" id="end_location" placeholder="Nach.." required>
        </div>
    </div>
    <div class="form-group date">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
            </div>
            <input type="text" class="form-control" name="user_ride[pickUpDate]"  id="ride_pickup_date" value="" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-clock"></i></div>
            </div>
            <input type="text" class="form-control" name="user_ride[pickupTime]" id="ride_pickup_time" value="" required>
        </div>
    </div>

    <button type="submit" class="btn btn-info" ><i class="fas fa-search"></i> Suche</button>
</form>
