{% extends 'main.base.html.twig' %}

{% block title %}Welcome!{% endblock %}

 {% block mainContent %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Development/Symfony-4/zooya/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Development/Symfony-4/zooya/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
{% endblock %}
