{% extends 'my.base.html.twig' %}

{% block title %}Benutzer bearbeiten{% endblock %}

{% block mainContent %}
    <h1 style="font-size: 1rem;font-weight: bolder">Benutzer -> Profile bearbeiten</h1>
    {{ include('user/my/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
