<header class="row mt-1 mb-1">
    <div class="col-sm-3 col-md-3 col-lg-2 sidebar" id="myLogo">
        <a href=""  style="font-size:600;font-weight: bolder;color:#FFFFFF">
            Z <i class="far fa-handshake"></i> ya <br> &nbsp;
        </a>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-6" id="mainNav">
        <span>Deutschland kostenlos Mitfahrgelegenheit App</span>
        {# include this latter
        include 'navbar/navbar.top.htlm.twig' %}
        #}
    </div>
</header>