<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <footer class="footer">
        <div class="container" style="background-color:#576b95">
            {% include "components/footer/my.footer.html.twig" %}
        </div>
    </footer>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
